.single-Events {
  width: 100%;
}

.single-events-container {
  width: 90%;
  /* margin-left:auto;
    margin-right:auto; */
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.single-image-event {
  width: 400px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(105, 61, 86, 0.3);
  border-radius: 10px;
}

.events-title-single {
  margin-top: 5px;
}

.event-reg-btn {
  margin-top: 20px;
  background-color: #693d56;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.event-reg-btn:hover {
  background-color: #59372c;
}

@media screen and (max-width: 768px) {
  .single-events-container {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .single-events-container {
    height: 55vh;
  }
}
