.main-team {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.team-title {
  text-align: center;
  color: #693d56;
  font-size: 16px;
  font-weight: bold;
}

.team-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.bishop {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-bishop {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 120px;
  box-shadow: 0 2px 4px rgba(190, 55, 132, 0.3);
  cursor: pointer;
}

.name-staff {
  margin-top: 5px;
  font-weight: 600;
  color: #693d56;
  text-align: center;
}

.vicar {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
}

.support-clergy {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.sunday-school {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .team-title {
    font-size: 14px;
  }

  /* .team-container{

        width:90%;
    } */

  .img-bishop {
    width: 90px;
    height: 100px;
  }

  .name-staff {
    font-size: 13px;
    text-align: center;
  }

  .vicar {
    gap: 1rem;
  }

  .support-clergy {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .support-clergy .bishop-img-cont {
    flex-basis: 33.33%;
    padding: 5px;
  }

  .sunday-school {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .sunday-school .bishop-img-cont {
    flex-basis: 33.33%;
    padding: 8px;
  }
}

@media screen and (max-width: 820px) {
  /* .team-title{

        font-size:14px;
    } */

  /* .team-container{

        width:90%;
    } */

  /* .img-bishop{

        width:90px;
        height:100px;
    } */

  .name-staff {
    font-size: 13px;
    text-align: center;
  }

  .vicar {
    gap: 1rem;
  }

  .support-clergy {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .support-clergy .bishop-img-cont {
    flex-basis: 33.33%;
    padding: 5px;
  }

  .sunday-school {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .sunday-school .bishop-img-cont {
    flex-basis: 33.33%;
    padding: 8px;
  }
}
