.nav-main{

    width:100%;
    height:2cm;
    color:#693d56;
    background-color: white;
    position:fixed;
    z-index:99;
    top:0;
    box-shadow: 0 2px 4px rgba(105, 61, 86, 0.7);
    position: relative;
}

.inner-nav{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap:5rem; */
    width:90%;
    height:2cm;
    margin-left:auto;
    margin-right:auto;
   
}

.site-logo{

    width:350px;
    height:1.5cm;
    margin-top: 10px; 
    
}

  
  .img-logo {

    display: flex;

  }
  
  .logo {

    border-radius: 20px;
    height: 50px;
    width: 50px;
    object-fit:cover;
  }

  /* STYLES FOR FLIPPING THE BOX */

  .flip-box {
    background-color: transparent;
    width: 200px;
    height: 100px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    /* background-color: #f1b409; */
    cursor:pointer;
  }
  
  .flip-box-inner {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

  }
  
  .flip-box-inner * {

    display: flex;
    margin-top: 4px;

  }
  
  .flip-box:hover .flip-box-inner {

    transform: rotateY(180deg);

  }
  
  .flip-box-front,
  .flip-box-back {

    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

  }
  
  .flip-box-back {

    font-weight: bold;
    transform: rotateY(180deg);

  }
  
  .flip-box-front p {

    color: #693d56;
    font-weight: bolder;
    margin-left: 10px;
    font-size: 15px;

  }
  
  .flip-box-back p {

    font-size: 16px;
    color: #693d56;
    font-weight: bolder;

  }

.nav-details{

    width:600px;
    
}

.nav-links{

    display:flex;
    flex-direction:row;
    gap:26px;
    margin-top: 10px; 
    font-weight:600;
}

.nav-p{

    color:#693d56;
    font-size:16px;
    cursor: pointer;
}

.icon{

    color:#693d56;
    font-size:20px;
    cursor: pointer;
}

.icon-menu{

    color:#693d56;
    font-size:20px;
    cursor: pointer;
    display:none;

}


/* STYLES FOR SIDEBAR */

.side{

    width:35%;
    background-color: white;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    z-index: 102;
    box-shadow: 0 2px 4px rgba(105, 61, 86, 0.7);

}

.main-side{

    display:flex;
    flex-direction: column;
    
}

.side-logo{

    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
}

.close-btn{

    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

.close {

    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out 0.3ms;

  }
  
.close:hover {
    transform: rotate(360deg);
}

.side-details{

    /* margin-left:auto; */
    /* margin-right:auto; */
    width:100%;
    margin-top: 80px;
}

.side-links{

    font-size:18px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-bottom:15px;
    margin-top:5px;
}


#side-links{

    color:#693d56;
    font-size:29px;
    cursor: pointer;
    text-align: center;
    /* margin-left: auto; */
    /* margin-right:auto; */
    margin-top: 20px;

}
  
  